In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
data = pd.read_csv(r"C:\Users\Fabricio\Desktop\Excel Csv\dados_navio.csv", sep = ';', encoding = 'utf-8')

In [6]:
data.head()

,container,dim,pol,pod,entrega,armador,tipo,altura,status,peso,unidade
0,TRHU1100636,20,BEANR,BRPNG,BRPNG,amarelo,DV,8'6,Full,21.480,1
1,MRKU7085894,20,BEANR,BRPNG,BRPNG,vermelho,DV,8'6,Full,19.040,1
2,TRLU9369933,20,BRSSZ,BRPNG,BRPNG,vermelho,DV,8'6,Full,6.850,1
3,MRKU5758635,40,BEANR,BRPNG,BRPNG,vermelho,HC,9'6,Full,12.951,1
4,MWCU5242091,40,BRSSZ,UYMVD,UYMVD,roxo,HC,9'6,MT,4.620,1

In [7]:
data.groupby(['armador','pol','peso'])['status'].count()

armador   pol    peso
amarelo   BEANR  3.048     1
                 3.368     1
                 3.530     1
                 4.653     1
                 4.804     1
                          ..
vermelho  NLRTM  30.459    1
                 30.940    1
                 32.312    1
                 32.520    3
                 32.750    1
Name: status, Length: 1795, dtype: int64

In [15]:
data.groupby(['unidade','armador','peso'])['status'].count()

unidade  armador   peso
1        amarelo   2.860      2
                   2.880     15
                   2.910      1
                   2.940      1
                   2.960      1
                             ..
         vermelho  32.761     1
                   32.960     1
                   32.970     1
                   33.070     1
                   33.090     2
Name: status, Length: 1744, dtype: int64

In [8]:
data.groupby(['armador','pod','peso'])['status'].count()

armador   pod    peso
amarelo   ARBUE  2.860      2
                 2.880     15
                 2.910      1
                 2.940      1
                 2.960      1
                           ..
vermelho  UYMVD  30.451     1
                 30.459     1
                 30.600     2
                 30.740     1
                 32.400     1
Name: status, Length: 1785, dtype: int64

In [10]:
data.groupby(['armador','tipo','status'])['unidade'].count()

armador   tipo  status
amarelo   DV    Full      247
          HC    Full      258
          RE    Full       56
                MT         32
          TK    Full        9
                MT          1
azul      DV    Full       34
          HC    Full       19
branco    DV    Full       57
          HC    Full       25
                MT         11
          RE    Full        4
                MT         39
cinza     DV    Full        8
          HC    Full       12
          RE    Full        8
roxo      DV    Full       53
                MT          4
          HC    Full      214
                MT        121
          RE    Full      183
                MT        169
verde     DV    Full       41
          HC    Full       46
          OT    Full        6
          RE    Full        1
          TK    Full       11
vermelho  DV    Full      157
          HC    Full      422
          OT    Full        7
          RE    Full      111
          TK    Full       16
Name: unidade, dtype: int64

In [17]:
data.head()

,container,dim,pol,pod,entrega,armador,tipo,altura,status,peso,unidade
0,TRHU1100636,20,BEANR,BRPNG,BRPNG,amarelo,DV,8'6,Full,21.480,1
1,MRKU7085894,20,BEANR,BRPNG,BRPNG,vermelho,DV,8'6,Full,19.040,1
2,TRLU9369933,20,BRSSZ,BRPNG,BRPNG,vermelho,DV,8'6,Full,6.850,1
3,MRKU5758635,40,BEANR,BRPNG,BRPNG,vermelho,HC,9'6,Full,12.951,1
4,MWCU5242091,40,BRSSZ,UYMVD,UYMVD,roxo,HC,9'6,MT,4.620,1

In [25]:
data.groupby(['tipo','status'])['unidade'].count()

tipo  status
DV    Full      597
      MT          4
HC    Full      996
      MT        132
OT    Full       13
RE    Full      363
      MT        240
TK    Full       36
      MT          1
Name: unidade, dtype: int64

In [27]:
data.groupby(['armador','pol','peso'])['status'].count()

armador   pol    peso
amarelo   BEANR  3.048     1
                 3.368     1
                 3.530     1
                 4.653     1
                 4.804     1
                          ..
vermelho  NLRTM  30.459    1
                 30.940    1
                 32.312    1
                 32.520    3
                 32.750    1
Name: status, Length: 1795, dtype: int64

In [20]:
data.groupby('armador')[['pol',]].sum()

               peso
armador
amarelo   10036.547
azul        892.599
branco     1950.462
cinza       478.362
roxo      12719.744
verde      2115.462
vermelho  12999.918

In [23]:
data.groupby('pod')[['armador','peso']].sum()

            peso
pod
ARBUE  12351.703
BRPNG  20044.381
BRSSZ     22.120
UYMVD   8774.890

In [24]:
data.groupby('status').size()

status
Full    2005
MT       377
dtype: int64

In [25]:
data.groupby('entrega').size()

entrega
ARBUE    695
ARMDQ      2
ARPMY     13
ARROS      2
ARUSH      3
BEANR      1
BRPIN      1
BRPNG    976
BRSSZ     73
PYASU     14
PYVLL     18
UYMVD    572
dtype: int64

In [28]:
data.groupby('armador').size()

armador
amarelo     603
azul         53
branco      136
cinza        28
roxo        744
verde       105
vermelho    713
dtype: int64